/* CSS reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

  /* Fixed width container class that will "auto-center" itself */
.container {
    width: 1200px;
    margin: 0 auto;
}

.btn {
    border-radius: 50%;
    border: mediumturquoise;
    margin: 5px;
    background-color: mediumturquoise;
    color: white;
    padding: 10px 13px 10px 13px;
    font-weight: bold;
}

.row {
    display: flex;
}

.col {
    flex: 4;
    background-color: lightpink;
    color: white;
    text-align: center;
    font-family: sans-serif;
    padding: 20px;
    margin: 10px;
}

.nav {
    display: flex;
    background-color: #333333;
    width: 1000px;
    height: 40px;
    justify-content: space-between;
    border: 3px solid black;
}

.nav-title {
    display: flex;
    font-family: 'Roboto', sans-serif;
    color: white;
    font-weight: lighter;
    align-items: center;
    justify-content: center;
    padding-left: 20px;
    font-size: 1.5em;
}

.nav-links {
    display: flex;
    list-style: none;
    font-family: 'Roboto', sans-serif;
    align-items: center;
    justify-content: center;
    font-weight: lighter;
}