h1 {
    color: white;
    font-style: bold;
    background: black;
    font-family: sans-serif;
}

#cloud {
    color: cyan;
}

h2 {
    color: white;
    text-align: center;
    background: indigo;
    font-style: italic;
    font-family: sans-serif;
}

h3 {
    color: darkblue;
    text-align: right;
    background: lightskyblue;
    font-family: sans-serif;
    text-decoration: underline;
}