.row {
    display: flex;
}

.col-2 {
    flex: 2;
    background-color: lightpink;
    color: white;
    text-align: center;
    font-family: sans-serif;
    padding: 20px;
    margin: 10px;
}

.col-3 {
    flex: 3;
    background-color: lightpink;
    color: white;
    text-align: center;
    font-family: sans-serif;
    padding: 20px;
    margin: 10px;
}